{%extends 'base.html'%} {%block content%}
<body>
<br />

{% for aluno in alunos %}
<div class="section alunos">
	<div>
		<span class="alunos">RA: {{aluno.ra}} </span>
		<br />
		<span class="alunos">Nome: {{aluno.first_name}} </span>
		<br />
		<span class="alunos">Serie: {{aluno.turma}} </span>
		<br />
		
	</div>

	<div>
		<!-- Modal Trigger -->
		<button
			class="btn waves-effect waves-light btn"
			onclick="editar('{{aluno.id}}',
							'{{aluno.ra}}','{{aluno.first_name}}', '{{aluno.turma}}')"
		>
			Editar<i class="material-icons left">create</i>
		</button>
		<button
			class="waves-effect waves-light btn modal-trigger"
			onclick="apagar('{{aluno.id}}',
			'{{aluno.ra}}','{{aluno.first_name}}', '{{aluno.turma}}')"
		>
			Apagar <i class="material-icons left">delete</i>
		</button>
	</div>

	<br />
	<div class="divider"></div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<form action="" id="aluno_update" name="aluno_update" method="post">
			<input
			class="caixa"
			for="aluno_update"
			id="input_aluno_funcao"
			name="input_aluno_funcao"
			type= "hidden"/>
			<label class="label_caixa" for="aluno_update" id ="label_id">ID </label>
            <input
              class="caixa"
              for="aluno_update"
              id="input_aluno_id"
              name="input_aluno_id"
              type="text"
			/>

			<label class="label_caixa" for="aluno_update">RA </label>
			<input
				class="caixa"
				for="aluno_update"
				id="input_aluno_ra"
				name="input_aluno_ra"
				type="text"
			/>
			<label class="label_caixa" for="aluno_update"> Nome </label>
			<input
				class="caixa"
				for="aluno_update"
				id="input_aluno_nome"
				name="input_aluno_nome"
				type="text"
		
			/>
			<label class="label_caixa" for="aluno_update"> Turma </label>
			<input
				class="caixa"
				for="aluno_update"
				id="input_aluno_turma"
				name="input_aluno_turma"
				type="text"
		
			/>



		</form>
	</div>

	<div class="modal-footer">
		<button
			href="/aluno"
			class="btn modal-close waves-effect waves-green btn-flat"
			id="btn_confirmar_edicao"
			type="submit"
			form="aluno_update"
		>
			OK1
		</button>
		<button
			href="/aluno"
			class="btn modal-close waves-effect waves-green btn-flat"
			id="btn_confirmar_apagar"
			type="submit"
			form="aluno_update"
		>
			OK
		</button>
		<button class="btn modal-close waves-effect waves-green btn-flat" onclick="habilitar()">
			Cancelar
		</button>
	</div>
</div>
</body>
{% endfor%} {%endblock%}
