{% extends 'base.html' %} {% block content %}
<body>
<br />
<form action="" , method="post" id="cadastro" name="cadastro" autocomplete="off">
	<div class="row">
		<div class="input-field col s6">
			<label for="ra">RA</label>
			<input type="text" name="ra" id="ra" form="cadastro" class="" autocomplete ="off" />
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<label for="nome">Aluno</label>
			<input type="text" name="nome" id="nome" form="cadastro"autocomplete ="off" />
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<label for="serie">Serie</label>
			<input type="text" name="serie" id="serie" size="2"autocomplete ="off" form="cadastro" />
		</div>
	</div>

	<button class="waves-effect waves-ligt btn" type="submit" form="cadastro">Salvar</button>
</form>
</body>
{%endblock%}
