{% extends 'base.html' %}


{% block content%}

{% for emprestimo in emprestimos %}
<body>
<br>

    <div class = "section alunos">
        <div>
            <span  class="alunos">Emprestimo:  {{emprestimo.id}} </span>    
             <br>
            <span class = "alunos">RA: </span>{{emprestimo.ra}} 
            <br>
            <span class = "alunos">Livro: </span>{{emprestimo.isbn}} 
            <br>
            <span class = "alunos">Data de emprestimo: </span>{{emprestimo.dataemp}} 
            <br>
            <span class = "alunos">Data de devolução: </span>{{emprestimo.datadev}} 
            <br>



        </div>
        <div>
            
          
           <!-- Modal Trigger -->

           <button id="btn_apagar" class="btn waves-effect waves-light btn" 
           href="#modal2" onclick = "devolver('{{emprestimo.id}}',
           '{{emprestimo.ra}}',
           '{{emprestimo.isbn}}')">Devolver</button>
           

       
  <!-- Modal Structure -->

  <div id="modal2" class="modal">
    <div class="modal-content">
      <form action="" id="devolucao_livro" name="devolucao_livro" method="post">
        
      <label class="label_caixa"for="devolucao_livro">id</label>
      <input class="caixa" for ="devolucao_livro" 
        id ="input_aluno_id_devolucao" name="input_aluno_id_devolucao"
        type="text" 
        >
      <h4 id = "aluno"> </h4>
      <p class="label_caixa" id =>confirma da devolução do livro</p>
    </form>
    </div>

    <div class="modal-footer">
      <button href="/devolucao" 
      class="modal-close waves-effect waves-green btn-flat"
      form="devolucao_livro"
      type="submit"
      >Confirmar</button>
    </div>
  </div>
        
        
        
        
        </div>
        <br>
        <div class = "divider"></div>
      </body>



{% endfor %}

{%endblock%}

