{% extends 'base_home.html'%} {%block content%}
<br>
<aside class = "container"> 
<h4>Perguntas Frequentes</h4>
<h6>Abaixo segue uma lista das principais dúvidas com relação ao uso do sistema. </h6>
<ul class = "collapsible" data-collapsible = "expandable">
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">library_books</i>É possível ter mais de um cadastro?</div>
      <div class = "collapsible-body"><p> Não. O cadastro é unico, pessoal e instransferível.</p></div>
   </li>
   
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">library_books</i>Quais são os prazos e  quantidades de livros para reserva? </div>
      <div class = "collapsible-body"><p>Só é permitido um empréstimo por vez, no prazo de 7 dias.</p></div>
   </li>
   
   <li>
      <div class = "collapsible-header">
         <i class = "material-icons">library_books</i>Posso renovar o prazo de empréstimo? </div>
      <div class = "collapsible-body"><p>Sim, desde que não existam solicitações de reserva, não haja pendências de atraso.</p></div>
   </li>
   <li>
    <div class = "collapsible-header">
       <i class = "material-icons">library_books</i>Perdi o livro  ou fui roubado. O que faço ?</div>
    <div class = "collapsible-body"><p>O usuário que danificar ou extraviar o material, mesmo apresentando Boletim de Ocorrência, é obrigado a ressarcir a instituição mediante a reposição de obra idêntica em perfeito estado de conservação ou de outra obra. 
        O usuário ficará bloqueado até a reposição da obra extraviada.</p></div>
 </li>
</ul>	
  		  
</aside>
{%endblock%}
