{% extends 'base_home.html'%} {%block content%}

<div class="carousel carousel-slider" data-indicators="true" id="mobile-demo">
	<div class="carousel-item orange center" href="#one!">
		<h2>Seja bem vindo !</h2>
		<img class="home_img" src="static/images/tela_inicial.png" />
	</div>

	<div class="carousel-item orange center" href="#two!">
		<h2>Destaque</h2>
		<img src="static/images/segunda_imagem.png" />
	</div>

	<div class="carousel-item orange center" href="#three!">
		<h2>Conheça nosso acervo</h2>
		<img src="static/images/acervo.jpg" />
	</div>
</div>

{%endblock%}
