<!DOCTYPE html>
<html lang="pt">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>

      <title>Sala de leitura</title>
  </head>
  <body class = "sala">
  

    <header>
        
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            
            <a href="#" class="brand-logo"> <img src="static\images\logo.png"> Sala de leitura</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/aluno">Login</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Duvidas</a></li>
            </ul>
          </div>

          <ul class="sidenav" id="mobile-demo">
              <li><a href="/aluno">Login</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Duvidas</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">
      
      <div class="row">
        <br>
        <div class="col s12 sala_boas_vindas">Seja bem vindo</div>
      </div>
   
    <div class="row" >
      <div class="col s12"><img class = "home_img" src="static/images/tela_inicial.png" alt=""></div>
    </div>

    </main>

  
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
            ©2021 Copyright: Projeto Integrador 
        </div>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/menu.js"></script>
     
  </body>

</html>
    