{% extends 'base_home.html'%} {%block content%}

<header class="topo carousel carousel-slider center" style="height: 200px !important"id="demo-carousel-content" data-indicators="true">            
  <div class="carousel-fixed-item center-align">
    <h2 class="white-text">Sobre Nós</h2> 
        <a class="carousel-item" href="#one!"><img src="static/images/book1.png"></a>
          <a class="carousel-item" href="#two!"><img src="static/images/book2.png"></a>
         <a class="carousel-item" href="#two!"><img  src="static/images/book2.png"></a>
          </div>
        </div>
      </header>

  <body>
<div class="container service">
  <h4 class="white-text center">Quem somos?</h4>
    <div class="row">
      <div class="col s12 m6 l3 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">code</i>
            <h5>Desenvolvedores</h5>
            <p>
                Carlos Henrique Neri,
                Danilo Rosa Dos Santos,
                Felipe Corumba De Almeida,
                Flademir Gomes De Azevedo,
                Jezebel De Oliveira Guedes,
                Mateus Pereira Monteiro,
                Vagner De Souza Bastos.
          </div>
          <div class="card-action"><a href="#">Read more...</a></div>
        </div>
      </div>
  
      <div class="col s12 m6 l3 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">devices</i>
            <h5>SALA DE LEITURA WEB: um gerenciamento simplificado</h5>
            <p>É um Software para gerenciamento de livros do Projeto Sala de Leitura da Diretoria de Ensino Regional de Mauá - SP.
            </p>
  
          </div>
          <div class="card-action"><a href="#">Ler mais...</a></div>
        </div>
      </div>
  
      <div class="col s12 m6 l3 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">local_library</i>
            <h5>Projeto Sala de Leitura </h5>
            <p>
                É um programa que promove oportunidades para  que estudantes do Ensino Fundamental II e Ensino Médio atuem como protagonistas de seu próprio aprendizado.
            </p>
          </div>
          <div class="card-action"><a href="https://institutoayrtonsenna.org.br/pt-br/como-atuamos/-sala-de-leitura.html#:~:text=Sala%20de%20Leitura%20%C3%A9%20um,ler%20mais%20e%20melhor%2C%20desenvolvendo">Ler mais...</a></div>
        </div>
      </div>
  
      <div class="col s12 m6 l3 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">school</i>
            <h5>Escolas participantes </h5>
            <p>Para consultar a lista completa das Escolas participantes do Projeto Sala de Leitura da Diretoria de Ensino Regional de Mauá, clique em "Ler mais".
            </p>
          </div>
          <div class="card-action"><a href="https://drive.google.com/file/d/1hn0SF8bRkmzDjtHGyiqaGMcJVVdRmhIY/view">Ler mais...</a></div>
        </div>
      </div>
    </div>
  </div>
</body>

  <script>
$(document).ready(function(){
 $('#demo-carousel-content').carousel();
  setInterval(function() {
    $('#demo-carousel-content').carousel('next');
  }, 2000);    
    
});
</script>
{%endblock%}
